.section2 {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-container {
    width: 1119px;
    height: 580px;
    &-list {
      height: 450px;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      &-item {
        width: 23%;
        margin: 1px 10px;
        height: 190px;
        background: #eff5ff;
        &-text {
          margin: 20px 10px;
          &-span {
            color: #3361cb;
          }
        }
      }
      &-item1 {
        width: 23%;
        margin: 1px 10px;
        height: 190px;
        background: linear-gradient(45deg, #3f6dd6 0%, #2755c1 99.88%);
        color: white;
        box-shadow: 1px 2px 5px rgb(74, 74, 107);
       
        &-text {
          margin: 20px 10px;
          &-span {
            color: #3361cb;
        }
            &-img {
                width: 2 0px;
                height: 20px;
                padding: 10px;
                border: 1px solid white;
                border-radius: 50%;
                background: white;
              }
          
        }
      }
    }
  }
}
